# Database

# Czy MariaDB ma wygenerować hasło losowe dla roota? 1: TAK, 0: NIE.
MARIADB_RANDOM_ROOT_PASSWORD=1
MARIADB_DATABASE=autoservice_db
MARIADB_USER=autoservice_user
MARIADB_PASSWORD=SecurePassword123!

# Backend
DATABASE_URL=mysql+pymysql://autoservice_user:SecurePassword123!@db:3306/autoservice_db
SECRET_KEY=your-super-secret-key-change-in-productionll
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000

# Ports
BACKEND_PORT=8000
FRONTEND_PORT=3000
DB_PORT=3306